/*

!.gitignore

!Completions/
!Snippets/

!Bigine.sublime-build
!Bigine.sublime-settings
!Bigine.tmLanguage
!Bigine.tmPreferences
!Bigine.YAML-tmLanguage
!Bigine.YAML-tmPreferences
!bootstrap.html
!CHANGELOG.md
!Main.sublime-menu
!Makefile

!*.py
!*.sublime-keymap
